.contact-sec {
  height: auto;
  padding: 100px 0;

  @include respond-below(md) {
    padding: 50px 0;
  }

  .contact__content {
    @include respond-below(md) {
      display: flex;
      flex-flow: column wrap;
    }
    &-box {
      width: 400px;
      height: 200px;
      background: lightgrey;
      @include border-radius(10px);

      @include respond-below(md) {
        width: 220px;
      }
    }
  }

  h2 {
    margin: 5%;
  }

  h2,
  h4 {
    text-align: left;
  }

  h4 {
    padding: 20px 0;
  }

  h2,
  h4,
  .contact__list,
  .mail {
    margin-left: 5%;
    font-weight: 700;
  }

  .mail {
    @include respond-below(md) {
      margin-left: 2%;
      font-size: 12px;
    }
  }
  .contact__list {
    display: flex;
    @include respond-below(md) {
      flex-flow: column;
    }

    &-item {
      padding: 20px 0;
      margin-left: 10px;

      span {
        margin-left: 10px;
      }
    }
  }
}

.contact__map {
  background-image: url("/src/images/content/polska-kontakt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
