.contact-sec {
  min-height: 85vh;
  padding-top: 80px;

  @include respond-below(md) {
    padding-top: 30px;
  }

  @include respond-above(xl) {
    padding-top: 0;
    min-heihgt: 75vh;
  }

  .container {
    h2 {
      text-align: left;
      margin-left: 150px;

      @include respond-below(md) {
        margin-left: 80px;
        font-size: 30px;
      }
    }

    .contact-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      gap: 5%;

      @include respond-below(md) {
        flex-flow: column;
      }

      .contact__content-box {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin-top: 40px;
        flex-basis: 50%;
        height: 410px;
        @include border-radius(16px);
        padding: 30px 20px 50px 20px;
        background: $placeholder-bg;

        @include respond-below(md) {
          justify-content: center;
          order: 2;
          height: auto;
          margin-bottom: 30px;
        }

        @include respond-above(xl) {
          margin-top: 60px;
        }

        p {
          padding-top: 0;
          font-weight: 500;
          font-size: 16px;

          @include respond-below(md) {
            text-align: center;
          }
        }

        .contact-us-list,
        .contact-phones-list {
          padding: 20px 0;
          display: flex;
          gap: 30px;

          @include respond-below(md) {
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
          }

          &-item {
            color: $hero-clr;
            font-weight: 700;
          }
        }
        .mail-text {
          padding-bottom: 20px;
        }
        .email-box {
          padding-top: 20px;

          @include respond-below(md) {
            text-align: center;
          }

          .fa-envelope,
          a {
            color: $hero-clr;
            font-weight: 700;
          }
        }
      }

      .contact__map-box {
        padding-top: 30px;
        flex-basis: 50%;
        height: 100%;

        img {
          max-width: 105%;

          @include respond-above(xl) {
            max-width: 95%;
          }

          @include respond-below(md) {
            max-width: 100%;
            padding-top: 0;
          }
        }
      }
    }
  }
}
