.fleet-sec {
  h2 {
    padding-bottom: 40px;
  }

  p {
    padding-bottom: 40px;
    text-align: center;
  }

  .swiper-slide {
    img {
      height: 300px;
    }
  }

  .swiper-pagination {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3 {
    margin-top: 100px;
  }

  p.text {
    padding: 30px 0;
  }

  .swiper-slide {
    position: relative;
    padding: 20px;
    background: lightgrey;
    @include border-radius(10px);

    .opinion-content {
      p {
        padding: 10px;
        @include fluidSize(8px, 12px);
      }

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
        display: inline-block;
        @include fluidSize(6px, 10px);
        font-weight: 600;
      }
    }
  }
}
