.fleet-sec {
  h2 {
    padding-bottom: 40px;
  }

  p {
    padding-bottom: 40px;
    text-align: center;
  }

  .fleet-slider {
    .swiper-container {
      height: 300px;
    }
  }

  .swiper-slide {
    background-color: silver;
    @include border-radius(10px);
    img {
      height: 300px;
    }
  }

  h3 {
    margin-top: 100px;

    @include respond-below(md) {
      margin-top: 50px;
    }
  }

  p.text {
    padding: 30px 0;
  }

  .swiper-container {
    width: 800px;
    height: 200px;
  }

  .opinion-slide {
    position: relative;
    @include border-radius(10px);
    width: 600px;
    height: 150px;

    .opinion-content {
      p {
        padding: 10px;
        @include fluidSize(8px, 12px);
        position: relative;

        &::before,
        &::after {
          position: absolute;
          transform: translate(-50%, -50%);
          color: #dddddd;
          @include fluidSize(100px, 200px);
          opacity: 0.5;
        }

        &::before {
          top: -90%;
          content: open-quote;
          left: 8%;
        }

        &::after {
          top: 157%;
          content: close-quote;
          right: -9%;
        }
      }

      span {
        position: absolute;
        bottom: 20px;
        right: 10px;
        transform: translate(-50%, -50%);
        display: inline-block;
        @include fluidSize(6px, 10px);
        font-weight: 600;
      }
    }
  }
}
