.fleet-sec {
  h2 {
    padding-bottom: 40px;

    @include respond-below(md) {
      font-size: 30px;
    }
  }

  p {
    padding-bottom: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    @include respond-below(md) {
      font-weight: 400;
    }
  }

  .fleet-slider {
    .swiper-container {
      height: 300px;
    }
  }

  .swiper-slide {
    @include border-radius(10px);
    overflow: hidden;

    img {
      height: 300px;
      width: fit-content;
    }
  }

  h3 {
    margin-top: 100px;

    @include respond-below(md) {
      margin-top: 50px;
      font-size: 20px;
    }
  }

  p.text {
    padding: 30px 0;
    font-size: 18px;
    font-weight: 500;
  }

  .opinion-slide {
    position: relative;
    @include border-radius(10px);
    width: 600px;
    height: 150px;

    .opinion-content {
      p {
        padding: 10px;
        position: relative;
        z-index: 9999;
        font-size: 12px;

        // &::before,
        // &::after {
        //   position: absolute;
        //   transform: translate(-50%, -50%);
        //   color: #dddddd;
        //   @include fluidSize(100px, 200px);
        //   opacity: 0.5;
        //   z-index: 3;
        // }

        // &::before {
        //   top: -90%;
        //   content: open-quote;
        //   left: 8%;
        // }

        // &::after {
        //   top: 157%;
        //   content: close-quote;
        //   right: -9%;
        // }
      }

      span {
        position: absolute;
        bottom: 20px;
        right: 10px;
        transform: translate(-50%, -50%);
        display: inline-block;
        @include fluidSize(6px, 10px);
        font-weight: 600;
      }
    }
  }
}
