.page__footer {
  padding: 20px;
  .footer-container {
    width: 60%;
    display: flex;
    gap: 10%;
    padding-bottom: 30px;
    @include respond-below(md) {
      flex-flow: column wrap;
    }

    .footer-box-left {
      width: 50%;
      padding: 40px 0;
      border-bottom: 1px solid $white;
      position: relative;
      @include respond-below(md) {
        width: 100%;
      }
      .logo {
        position: absolute;
        top: 75%;
        left: 10%;
        transform: translate(-50%, -50%);
        svg {
          path {
            fill: $white;
          }
        }

        @include respond-below(md) {
          left: 15%;
        }
      }
    }
    .footer-box-right {
      padding-top: 23px;
      width: 50%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;

      @include respond-below(md) {
        width: 100%;
      }
      .footer-list-top,
      .footer-list-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        &-item {
          @include respond-below(md) {
            padding-top: 20px;
          }
          &-link {
            color: $text-clr;
            @include fluidSize(12px, 14px);
          }
        }
        @include respond-below(md) {
          flex-flow: column wrap;
          align-items: center;
        }
      }

      .footer-list-top {
        font-weight: 600;
      }
      .footer-list-bottom {
        margin-top: 20px;

        @include respond-below(md) {
          margin-bottom: 20px;
        }
      }
    }
  }
  background: $footer-bg;
}
