.page__nav {
  position: fixed;
  padding: 20px 20%;
  display: flex;
  justify-content: space-between;
  background: $white;
  @include transition(padding, 0.4s);

  @include respond-below(md) {
    padding: 20px 5%;
  }
  &-list {
    display: flex;
    align-items: center;

    @include respond-below(md) {
      position: absolute;
      background: $foreground-clr;
      width: 100%;
      left: 0;
      display: none;
      flex-flow: column wrap;
    }

    &-item {
      @include respond-below(md) {
        margin-top: 80px;
        text-align: center;
      }

      .btn {
        &:hover {
          font-weight: 600;
          background: $hero-clr;
          color: $white;
          border-color: $hero-clr;
        }
      }

      &-link {
        position: relative;
        @include fluidSize(14px, 14px);
        margin-left: 24px;
        font-weight: 600;
        overflow: hidden;

        &:hover {
          font-weight: 700;
        }

        @include respond-below(md) {
          margin-left: 0;
        }
      }
    }
  }
  .btn {
    background: transparent;
    color: $hero-clr;
    padding: 8px 24px;
  }
}

//###################################################
//#################    hamburger     ################
//##################################################

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $menu-btn-width;
  height: $menu-btn-height;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: none;

  @include respond-below(md) {
    display: block;
    padding-top: 10px;
  }

  &__burger {
    width: $burger-width;
    height: $burger-height;
    background: $main-c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: $burger-width;
      height: $burger-height;
      background: $main-c;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.5s ease-in-out;
    }

    &::before {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
    }
  }
}

//================
//  JS class:
//================

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  background: transparent;
  box-shadow: none;

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
    -webkit-transform: rotate(45deg) translate(35px, -35px);
    -moz-transform: rotate(45deg) translate(35px, -35px);
    -ms-transform: rotate(45deg) translate(35px, -35px);
    -o-transform: rotate(45deg) translate(35px, -35px);
  }

  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
    -moz-transform: rotate(-45deg) translate(35px, 35px);
    -ms-transform: rotate(-45deg) translate(35px, 35px);
    -o-transform: rotate(-45deg) translate(35px, 35px);
  }
}

.navOpen {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}

.changeLogo {
}
