.transport-sec {
  padding: 50px 0;

  .transport-container {
    .logistic__box {
      display: flex;
      gap: 20px;

      @include respond-below(md) {
        flex-flow: column wrap;
      }

      .row {
        @include respond-below(md) {
          margin-top: 100px;
        }
      }
      &-left,
      &-right {
        width: 40%;
      }

      &-left {
        @include respond-below(md) {
          width: 100%;
        }
        h4 {
          padding-top: 20px;
        }

        p {
          @include fluidSize(10px, 14px);
          padding: 20px 0;
          text-align: center;
        }

        .transport__list {
          columns: 2;
          &-item {
            display: flex;
            align-items: center;

            &:first-child {
              margin-bottom: 10px;
            }

            &:nth-child(3) {
              margin-bottom: 10px;
            }
            img {
              width: 30px;
              height: 25px;
            }
            span {
              padding: 0 10px;
              @include fluidSize(6px, 8px);
            }
          }
        }

        .magazine {
          display: flex;
          @include respond-below(md) {
            display: flex;
            flex-flow: column;
          }
          img {
            height: 229px;
            width: 167px;
          }
        }
      }

      &-right {
        width: 60%;
        height: 100%;
      }
    }
  }

  h2 {
    padding: 50px 0 20px 0;

    @include respond-below(md) {
      padding: 50px 0 20px 0;
    }
  }

  p.text {
    text-align: center;
    padding-bottom: 30px;
  }

  .profess-box-container {
    display: flex;
    justify-content: space-between;
    background-image: url("/src/images/content/pako-blekit.svg");
    background-repeat: no-repeat;
    background-position: 35px 0;
    background-size: 90%;

    @include respond-below(md) {
      flex-flow: column wrap;
    }

    .profess-box {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 60px 0;

      @include respond-below(md) {
        padding-top: 0px;
      }

      img {
        width: 40px;
        height: 40px;
      }
      span {
        padding: 20px;
        display: inline-block;
        text-align: center;
        @include fluidSize(8px, 10px);
      }
    }
  }
}
