/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-bg-clr: #333;
$foreground-clr: #fff;
$hero-clr: #000080;
$text-clr: #464646;
$accent-clr: #999;
$link-clr: #ec1f4e;

/* Components */
