*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  @include antialiasing;
}

body {
  position: relative;
  background: $foreground-clr;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
a,
.logo {
  color: $hero-clr;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3,
h4 {
  font-weight: 600;
}

h2,
h3,
h4 {
  text-align: center;
}

h2 {
  @include fluidSize(20px, 32px);
}

h3 {
  @include fluidSize(12px, 22px);
}

p.text {
  @include fluidSize(10px, 16px);
}

a {
  &:hover {
    @include transition(all, 0.45s);
  }
}

nav,
header,
section,
footer {
  width: 100%;
}

section {
  min-height: 100vh;
}

// z-indexes:
nav,
#totop {
  z-index: 20000;
}

ul {
  li {
    list-style: none;
  }
}

.popup {
  z-index: 30000;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  // border: 1px dashed blue;
}

.logo {
  text-transform: uppercase;
}

.btn {
  border: 1px solid $hero-clr;
  @include border-radius(28px);
  padding: 16px 62px;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(to left, #4869b7 0%, #03309b 100%);
  color: $white;

  &:hover {
    @include transition(all, 0.45s);
  }
}

p.text {
  @include respond-below(md) {
    font-weight: 400 !important;
  }
}

//##########################################
//################# slider   ################
//##########################################

.swiper-container {
  width: initial;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: grab;
  background: $placeholder-bg !important;

  img {
    width: 200px;
    @include border-radius(16px);
  }
}

.swiper-pagination {
  bottom: 0;

  @include respond-below(md) {
    display: none;
  }
}

//##########################################
//################# RWD   ################
//##########################################

@include respond-below(md) {
  .container {
    width: 80%;
  }
}
